doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale='1', shrink-to-fit='no')
    link(rel='stylesheet', type='text/css', href='/uploaded/files/css/site.css')
    link(rel='stylesheet', type='text/css', href='/uploaded/files/css/product.css')
  body
    main(id='content')
      div.container.clear
        div.container
          div#goods_desc
            ul.tabs
              li.nav-0.current
                | Описание
              li.nav-1
                | Характеристики
              li.nav-2
                | Видеообзор
              li.nav-3
                | Инструкции
              li.nav-4
                | Монтаж
            div.content.tab-0.current
              link(rel='stylesheet', type='text/css', href='/uploaded/files/css/goodDesc.css')
              div.Description
                h2
                  | Описание сплит-системы Hisense Smart DC Inverter
                p
                  | Сплит-система Hisense SMART DC Inverter AS-11UR4SYDDB1 эффективно справляется с работой на охлаждение, осушение, проветривание и обогрев
                  | помещений площадью до 35 м2. Инверторный компрессор экономно расходует электроэнергию, работает более плавно и менее шумно в сравнении
                  | с обычным компрессором, а также позволяет ипользовать кондиционер на обогрев до -15 С. В сплит-системе используется высоконадежный японский
                  | компрессор.
                p
                  | Внутренний блок сплит-системы оснащен 5-ти скоростным вентилятором, что дает возможнось более гибко настроить скорость воздуха, а также функцией
                  | 4D AUTO-Air, благодаря чему можно регулировать воздушный поток влево-вправо и вверх-вниз с пульта. При этом уровень шума внутреннего блока
                  | на минимальной скорости составляет всего 24 дБ(А).
                p
                  | Hisense SMART DC Inverter отличается сдержанным дизайном, который впишется в любой интерьер. Корпус внутреннего блока  выполнен из
                  | высококачественного ABS-пластика, который не желтеет со временем. Внутренний блок удобен как для скытой заклыдки трассы, так и для монтажа на
                  | короб (боковые поверхности внутреннего блока плоские, без изгибов). MIRAGE-дисплей сплит-системы спрятан за светопрозрачным пластиком передней
                  | панели, в выключенном состоянии его не видно.
                p
                  | Система очистки воздуха включает фильтр высокого класса очистки ULTRA Hi Density фильтр -  задерживает более 90% пыли и дополнительные:
                  | фотокаталитический фильтр и фильтр с ионами серебра против микробов и бактерий.
                h2
                  | Основные функции
                div.MainFunc
                  div.MainFunc-Category
                    h3
                      | Комфорт
                    ul
                      li
                        h4 QUIET
                        p
                          | Режим низкого уровеня шума - 25дБ(А).
                      li
                        h4 5 скоростей вентилятора внутреннего блока
                        p
                          | Внутренний блок оснащен мультискоростными вентиляторами
                          | с 5-ю скоростями, что дает возможность гибкой настройки
                          | скорости воздуха - от слабого дуновения до мощного потока.
                      li
                        h4 Двойная шумоизоляция компрессора
                        p
                          | Все инверторные кондиционеры Hisense имеют встроенную
                          | двойную шумоизоляцию компрессора, что снижает уровень
                          | шума наружного блока.
                      li
                        h4 Функция I FEEL
                        p
                          | В пульт дистанционного управления встроен температурный
                          | датчик, который позволяет более точно поддерживать
                          | температуру в помещении в месте нахождения людей.
                      li
                        h4 4D AUTO-Air
                        p
                          | Возможность  управления подачей воздуха в четырех
                          | направлениях (вверх-вниз, вправо-влево) с пульта..
                      li
                        h4 Режим SMART
                        p
                          | Автоматический выбор режима, исходя из необходимости
                          | поддержания целевой температуры в помещении в
                          | пределах 22-26 С, с минимальным энергопотреблением.
                      li
                        h4 Таймер
                        p
                          | Программирование включения-выключения кондиционера в
                          | течение 24 часов.
                      li
                        h4 Режим SLEEP
                        p
                          | Запрограммированная последовательность изменения
                          | температуры для комфортного сна.
                      li
                        h4 Dimmer
                        p
                          | Отключает индикацию и звуковые сигналы на внутреннем
                          | блоке сплит-системы.
                  div.MainFunc-Category
                    h3
                      | Энергоэффективность
                    ul
                      li
                        h4 Технологии DC Inverter
                        p
                          | Технологии DC Inverter обеспечивают высокий класс
                          | энергоэффективности А,а также максимально плавное
                          | охлаждение и нагрев воздуха в помещении без перепадов
                          | температур.
                      li
                        h4 Сезонная энергоэффективность класса А
                        p
                          | Максимально экономное расходование электроэнергии.
                  div.MainFunc-Category
                    h3
                      | Надежность и удобство эксплуатации
                    ul
                      li
                        h4 Индикация утечки хладагента
                        p
                          | Индикация утечки хладагента поможет предотвратить выход
                          | компрессора из строя из-за повышения температуры.
                      li
                        h4 MIRAGE-дисплей
                        p
                          | Дисплей находится за светопрозрачным пластиком передней
                          | панели. Когда кондиционер находится в выключенном состоянии
                          | дисплей не виден.
                      li
                        h4 Авторестарт
                        p
                          | Функция Авторестарт позволяет сохранить все заданные
                          | настройки после отключения из сети или скачке напряжения.
                      li
                        h4 Устойчивость к перепаду напряжения
                        p
                          | Работа при низком уровне напряжения 175 В.
                  div.MainFunc-Category
                    h3
                      | Здоровье
                    ul
                      li
                        h4 ULTRA Hi Density фильтр
                        p
                          | Фильтр высокой очистки задерживает более 90% пыли и других
                          | частиц из воздуха в помещении.
                      li
                        h4 PLATINUM фильтр
                        p
                          | Антиаллергенный Platinum фильтр устраняет вирусные,
                          | бактериальные, грибково-плесневые и пыльцевые
                          | раздражители, а также аллергены шерсти.
                      li
                        h4 Озонобезопасный хладагент
                        p
                          | В кондиционерах Hisense используется экологически безопасный
                          | хладагент – R410A.
            div.content.tab-1
              div.Description
                h2
                  | Характеристики сплит-системы Hisense Smart DC Inverter
                div.DetailSpec
                  h3
                    | Общие характеристики:
                  table
                    tbody
                      tr
                        td Модель:
                        td AS-11UR4SYDDB15
                      tr
                        td Цвет:
                        td Белый
                      tr
                        td Напряжение электропритания:
                        td 220-240 В, 1 фаза, Гц
                      tr
                        td Компрессор:
                        td Инверторный, LG
                      tr
                        td Для помещений площадью, м2:
                        td 35
                      tr
                        td Осушение, л/ч
                        td 1,2
            div.content.tab-2
            div.content.tab-3
            div.content.tab-4
              div.Description
                h2
                  | Монтаж сплит-системы Hisense Smart DC Inverter
                div.Install-Std
                  div.Install-StdItem
                    img(src = '/uploaded/images/stdInstall-wnd_2.svg', alt = 'Монтаж кондиционера под окно')
                    h3
                      | ПОД ОКНО
                    ul
                      li 5 м трассы
                      li декоративный короб до 1 м
                      li питание в кабель-канале до 2м + вилка
                      li отверстие в наружной стене - 1 шт
                      li дренаж выводится на улицу
                    div.Install-StdPrice
                      | 7 500 Р
                    a(href="/pages/Montag#stdInstall").Install-StdLink
                      | подробнее
                  div.Install-StdItem
                    img(src = '/uploaded/images/stdInstall-bal_2.svg', alt = 'Монтаж кондиционера на балконе или лоджии')
                    h3
                      | НА БАЛКОНЕ ИЛИ ЛОДЖИИ
                    ul
                      li 5 м трассы
                      li декоративный короб до 1 м
                      li питание в кабель-канале до 2м + вилка
                      li отверстие в наружной стене - 1 шт
                      li отверстие в стене балкона - 1 шт
                      li дренаж выводится на улицу
                    div.Install-StdPrice
                      | 7 500 Р
                    a(href="/pages/Montag#stdInstall").Install-StdLink
                      | подробнее
                  div.Install-StdItem
                    img(src = '/uploaded/images/stdInstall-wall_2.svg', alt = 'Монтаж кондиционера через стену')
                    h3
                      | ЧЕРЕЗ СТЕНУ
                    ul
                      li 3-5 м трассы
                      li декоративный короб до 1 м
                      li питание в кабель-канале до 2 м + вилка
                      li отверстие в наружной стене - 1 шт
                      li дренаж выводится на улицу
                    div.Install-StdPrice
                      | 7 500 Р
                    a(href="/pages/Montag#stdInstall").Install-StdLink
                      | подробнее
                h2
                  | НЕстандартный монтаж сплит-системы мощностью 3,5-5 кВт
                div.Install-Unstd
                  p.m-0
                    | Если в вашем случае необходимо:
                  ul
                    li Прокладка трассы длинной более 5 м,
                    li Cкрытая прокладка трассы,
                    li Вывод дренажа в канализацию,
                    li Услуги альпиниста или вышки при монтаже наружного блока,
                    li и тому подобное,
                  p
                    | ознакомтесь пожалуйста с нашим пройсом по
                    a(href="/pages/Montag#price") ссылке
                    | .
    script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
    script(type='text/javascript', src='/uploaded/files/js/product.js')